.toggle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15%;
  height: 34px;
  border-radius: 34px;
  background-color: #ccc;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle.dark {
  background-color: var(--skyblue);
}

.t-button {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: var(--skyblue);
  transition: left 0.3s ease-in-out;
}

.toggle.dark .t-button {
  left: calc(100% - 28px);
}

@media screen and (max-width: 480px) {
  .toggle {
    width: 100%;
  }
}
